<mat-card class="example-card">
  <mat-card-header style="padding-top: 0">
    <div class="flex" style="width: 100%">
      <h3>Filter</h3>
      <mat-icon
        style="margin: auto 0"
        *ngIf="!expanded"
        fontIcon="expand_more"
        (click)="expanded = !expanded"
      ></mat-icon>
      <mat-icon
        style="margin: auto 0"
        class="button"
        *ngIf="expanded"
        fontIcon="expand_less"
        (click)="expanded = !expanded"
      ></mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="expanded" [formGroup]="filter">
    <div class="flex-vertical">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
          />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error
          *ngIf="filter.controls['startDate'].hasError('matStartDateInvalid')"
          >Invalid start date</mat-error
        >
        <mat-error
          *ngIf="filter.controls['endDate'].hasError('matEndDateInvalid')"
          >Invalid end date</mat-error
        >
      </mat-form-field>

      <mat-checkbox
        style="margin-bottom: 1rem"
        color="primary"
        formControlName="noLocationAllowed"
        >Include no location</mat-checkbox
      >
    </div>
    <div class="flex-vertical">
      <mat-form-field style="margin-right: 1rem">
        <mat-label>Min length</mat-label>
        <input matInput formControlName="minLength" placeholder="Min length" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max length</mat-label>
        <input matInput formControlName="maxLength" placeholder="Max length" />
      </mat-form-field>
    </div>
    <mat-form-field style="margin-right: 1rem">
      <mat-label>Max distance</mat-label>
      <input
        matInput
        formControlName="maxDistance"
        placeholder="Max distance"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Current location</mat-label>
      <input formControlName="location" [readonly]="true" matInput />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions
    *ngIf="expanded"
    class="flex"
    style="justify-content: space-around"
  >
    <button
      style="width: 150px; margin: auto 0"
      color="primary"
      mat-raised-button
      (click)="updateTournaments()"
    >
      <span>APPLY</span>
      <span *ngIf="loading" style="position: absolute"
        ><mat-spinner
          class="custom-spinner"
          style="height: 1rem; width: 3rem"
        ></mat-spinner
      ></span>
    </button>
    <button
      style="width: 150px; margin: auto 0"
      mat-raised-button
      color="secondary"
      (click)="clearFilter()"
    >
      CLEAR
    </button>
  </mat-card-actions>
</mat-card>
