<mat-sidenav-container style="min-height: 100vh;">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/tournamentlist" routerLinkActive="active">
        <mat-icon fontIcon="event_note" ></mat-icon>
      </a>
      <a mat-list-item routerLink="/map"><mat-icon fontIcon="explore" ></mat-icon></a>
      <a mat-list-item routerLink="/data"><mat-icon fontIcon="precision_manufacturing" ></mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
