<div id="header">
  <h1>Welcome to the Chess Tournament Calendar Map</h1>
</div>
<div id="content">
  <h2>Discover the World of Chess Tournaments</h2>
  <p>
    Step into the ultimate destination for chess enthusiasts and tournament
    seekers! Get ready to embark on a captivating journey through the thrilling
    world of chess competitions. Whether you're a seasoned player or a curious
    beginner, our website offers you an exceptional resource: a comprehensive
    chess tournament calendar.
  </p>

  <h3>Explore the Interactive Map</h3>
  <p>
    Immerse yourself in the captivating world of chess tournaments with our
    interactive map. Watch as a constellation of chess events comes alive before
    your eyes, scattered across the globe. Every pin represents a thrilling
    battleground where players from different backgrounds, cultures, and skill
    levels converge to test their mettle. While the locations may not always be
    pinpoint accurate, it's still an invaluable tool to help you visualize the
    chess action taking place around the world.
  </p>
  <button mat-raised-button routerLink="/map" color="primary">
    Explore the map
  </button>

  <h3 style="margin-top: 3rem">Browse the Tournament List</h3>
  <p>
    Venture into the heart of our chess tournament database on our dedicated
    list page. Here, you'll find an extensive compilation of tournaments sourced
    from all the commonly used calendars. From local gatherings to international
    spectacles, our list encompasses them all. It's your gateway to discovering
    tournaments that match your preferences and fit your schedule. With our
    intuitive ordering and filtering options, you can effortlessly sort
    tournaments by their length, date, and even distance from your chosen
    location.
  </p>
  <button mat-raised-button color="primary" routerLink="/tournamentlist">
    Go to the Tournament List
  </button>
</div>
