.mapcontainer {
  display: grid;
}
.layer1,
.layer2 {
  grid-column: 1;
  grid-row: 1;
}
.layer1 {
  z-index: 100;
  max-width: fit-content;
  height: fit-content;
  margin-left: 55px;
}
.layer2 {
  z-index: 0;
}

@media (max-width: 600px) {
  .layer1 {
    transform: scale(0.5);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
  }
}
